<div id="headline">
  <h2>All Orders</h2>
</div>
<div>
  <div class="row" id="card-body">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Total Dispatch Orders</h5>
        <p>100</p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Total Received Orders</h5>
        <p>300</p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Total Pending Orders</h5>
        <p>200</p>
      </div>
    </div>
  </div>
  <div class="row" style="margin-left: 10px">
    <table class="table">
      <tr style="background-color: rgb(174, 174, 180)">
        <td>Station Name</td>
        <td>Volume</td>
        <td>Fuel Type</td>
        <td>Received Date</td>
        <td>Dispatch Date</td>
      </tr>
      <tbody>
        <tr>
          <td>Iresha</td>
          <td>3300</td>
          <td>92 petrol</td>
          <td>7/25/2022</td>
          <td>7/31/2022</td>
        </tr>
        <tr>
          <td>Sarada</td>
          <td>3300</td>
          <td>95 petrol</td>
          <td>7/20/2022</td>
          <td>7/25/2022</td>
        </tr>
        <tr>
          <td>DS</td>
          <td>6600</td>
          <td>Diesel</td>
          <td>7/25/2022</td>
          <td>7/31/2022</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
