
<div>
  <div id="headline">
    <h2>Dispatch Orders</h2>
  </div>
  <div style="margin-left: 25px;margin-top: 60px;">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Filling station name</th>
            <th scope="col">Location</th>
            <th scope="col">Fuel type</th>
            <th scope="col">Capacity</th>
            <th scope="col">Dispatch</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Rathna</td>
            <td>Colombo</td>
            <td>95 petrol</td>
            <td>3300</td>
            <td>
              <button type="button" class="btn btn-success">Dispatch</button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Sarada</td>
            <td>Matara</td>
            <td>92 petrol</td>
            <td>6600</td>
            <td>
              <button type="button" class="btn btn-success">Dispatch</button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Iresha</td>
            <td>Galle</td>
            <td>Diesel</td>
            <td>13200</td>
            <td>
              <button type="button" class="btn btn-success">Dispatch</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
